.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.btn{
    padding: 1rem 1.5rem;
    color: white;
    background-color: #6a8a64;
    font-size: 0.8rem;
    width: 100%;    
}

.width{
    width: 100%;
}